.full{
    height: 800px;
    width: 100%;
    background-color: black;
}

.full .all_img{
    position: relative;
    top: 500px;
    display: flex;
    justify-content: center;
    column-gap: 7px;
    width: 100%;
}

.full .down{
    width: 250px;
    height: 444px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}
.full .up{
    width: 250px;
    height: 444px;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    position: relative;
    bottom: 70px;
}
.full .up:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
.full .down:hover{
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

.full .title{
    color: white;
    position: relative;
    bottom: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 64px;
}
.full .title .p{
    font-size: 24px;
    position: relative;

}





.full .box{
    background-color: rgb(10, 0, 114);
    color: white;
    width: 60%;
    border-top-right-radius: 20px;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 0;
    padding: 40px 40px 50px 40px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}

.box .name{
    font-size: 30px;
    transform: translateX(50%);
}

.transport{
    font-size: 60%;
    position: relative;
    left: 30px;
}

.full .contactus{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 25px 70px 25px 70px;
    cursor: pointer;
    font-size: 20px;
    transform: translate(50%, 20%);
    border: 1px solid rgb(10, 0, 114);
    border-radius: 10px;
    background-color: white;
    color: rgb(10, 0, 114);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.full .contactus:hover{
    font-size: 25px;
    transition: font-size 0.3s ease;
}

@media screen and (max-width:1050px) and (min-width:320px){
    .full{
        height: 404px;
    }
    
    .full .title{
        font-size: 28px;
        bottom: 0px;
    }
    .full .title .p{
        font-size: 12px;  
    }
    .full .down{
        width: 90px;
        height: 150px;
        border: 2px solid white;
        border-radius: 10px;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    }
    .full .up{
        width: 90px;
        height: 150px;
        border: 2px solid white;
        border-radius: 10px;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
        position: relative;
        bottom: 40px;
    }
    .full .all_img{
        column-gap: 3px;
        top: 320px;
    }

}


@media screen and (max-width:320px){
    .full{
        height: 304px;
    }
    
    .full .title{
        font-size: 20px;
        bottom: 0px;
    }
    .full .title .p{
        font-size: 11px;  
    }
    .full .down{
        width: 70px;
        height: 124px;
        border: 2px solid white;
        border-radius: 10px;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
    }
    .full .up{
        width: 70px;
        height: 124px;
        border: 2px solid white;
        border-radius: 10px;
        box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
        position: relative;
        /* bottom: 40px; */
    }
    .full .all_img{
        column-gap: 3px;
        top: 250px;
    }

}

