nav {
    background-color: #f8f9fa;
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    column-gap: 10px;
    position: fixed;
    z-index: 1000;
}

nav .logo{
    position: relative;
    border-radius: 5px;
    cursor: pointer;
}

nav ul{
    display: flex;
    column-gap: 40px;
    list-style: none;
}

nav ul .dropdown .list{
    display: none;
    position: absolute;
    background-color: rgb(10, 0, 114);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

nav ul .dropdown:hover .list{
    display: block;
}

nav ul a{
    text-decoration: none;
    color: #303030;
    font-size: 20px;
    cursor: pointer;
}

nav ul a:hover{
    color: #303030;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

nav .right{
    display: flex;
    column-gap: 50px;
    height: 100%;
    align-items: center;
}

nav .contact{
    display: flex;
    column-gap: 20px;
}

nav .contact a{
    color: #303030;
    text-decoration: none;
}
nav .all_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav .logo{
    width: 60px;
    height: 60px;
}

nav .contact div{
    color: #303030;
    text-decoration: none;
    font-size: 20px;
}

nav .cart{
    width: 30px;
    height: 30px;
}
nav .cart:hover{
    width: 30px;
    height: 30px;
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

nav .contact img:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

nav .menu{
    width: 70px;
    display: none;
    transition: all 0.5s;
}

@media screen and (max-width:1050px) and (min-width:320px){
    nav .menu{
        display: block;
    }
    nav .menu:hover{
        cursor: pointer;
    }
    nav .contact{
        display: none;
    }

    nav ul{
        display: none;
    }

    nav ul.visible{
        position: absolute;
        right: 0;
        background-color: #f8f9fa;
        width: 55%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 10px;
        row-gap: 20px;
    }

    nav ul .dropdown .list a{
        font-size: 15px;
    }
}


@media screen and (max-width:320px){
    nav{
        height: 80px;
    }

    nav .logo{
        width: 35px;
        height: 35px;
    }

    nav .cart{
        width: 25px;
        height: 25px;
    }
}